/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f0f2f5;
    padding: 6% 20% 6% 20%;;
}

.container {
    display: flex;
    /* min-height: 100vh; */
    /* width: 100%; */
    border-radius: 16px;
}

/* Panel Kiri (Gambar) */
.left-panel {
    flex: 1;
    /* background: url('../assets/beranda_bg.png') no-repeat center center; */
    background: linear-gradient(90deg, #298FBB 0%, #0EBCB1 100%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0 0 16px;
}

.left-panel .logo {
    width: 250px;
}

/* Panel Kanan (Form) */
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 0 16px 16px 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.form-container p {
    margin-bottom: 30px;
    color: #666;
}

.form-container p a {
    color: #00b3a8;
    font-weight: 600;
    text-decoration: none;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
}

.form-group .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(25%);
    color: #aaa;
}

.form-group input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Padding kiri untuk ikon */
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: #00b3a8;
    box-shadow: 0 0 0 2px rgba(0, 179, 168, 0.2);
}

.remember {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-bottom: 20px;
}

.login-btn, .google-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.login-btn {
    background-color: #00b3a8;
    color: white;
}

.login-btn:hover {
    background-color: #009688;
}

.or {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
}

.google-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.google-btn img {
    width: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        background-color: #f0f2f5;
        padding: 20% 0% 20% 0%;;
    }
    .left-panel {
        display: none;
    }
    .right-panel {
        flex: 2; /* Memberi lebih banyak ruang pada form di layar kecil */
    }
}