/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Inter sebagai font utama */
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit; /* Mewarisi warna dari elemen induk */
    text-decoration: none; /* Menghapus garis bawah */
    background: none; /* Menghapus background bawaan */
    border: none; /* Menghapus border bawaan */
    padding: 0; /* Menghapus padding bawaan */
    margin: 0; /* Menghapus margin bawaan */
    outline: none; /* Menghapus outline saat fokus */
}

/* Opsional: Menghapus efek hover jika diinginkan */
a:hover {
    color: inherit; /* Tetap waris warna */
    text-decoration: none; /* Tetap tanpa garis bawah */
    background: none; /* Tanpa background saat hover */
}


/* Navbar Transparan */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: transparent;
    z-index: 1000;
    transition: all 0.3s; /* Transisi untuk smooth effect */
}

/* Saat scroll ke bawah */
.navbar.scrolled {
    display: none; /* Hilang saat scroll ke bawah */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Saat scroll ke atas */
.navbar.visible {
    display: flex; /* Muncul saat scroll ke atas */
    background: rgba(255, 255, 255, 0); /* Warna saat muncul */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

    color: #00b3a8; /* Warna biru hijau dari screenshot */
}

.logo img {
    height: 40px;
    margin-right: 0.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Custom Buttons */
.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 50px; /* Bulat seperti screenshot */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

.btn-outline-login {
    background: transparent;
    border: 2px solid #00b3a8;
    color: #00b3a8;
    background-color: transparent;
    border-radius: 10px;
}

.btn-outline-login:hover {
    background: #00b3a8;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 2px solid #00b3a8;
    color: #00b3a8;
    background-color: white;
    border-radius: 10px;
}

.btn-outline:hover {
    background: #00b3a8;
    color: white;
}

.btn-filled {
    background: #00b3a8;
    border: none;
    color: white;
}

.btn-filled:hover {
    background: #009688;
}

.nav-buttons .btn {
    display: none;
    margin-left: 1rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.menu-auth {
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

/* Hero Section */
.hero {
    height: 100vh; /* Full screen */
    background: url('../assets/beranda_bg.png') no-repeat center/cover; /* Background image */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
    padding-right: 20%; 
    position: relative;
    color: #333;
}

.hero-content {
    margin-left: 40%;
    max-width: 100%;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #000;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    background-image: url('../assets/edge-texture.png');
    background-size: contain;
    color: #000;
    /* border-radius: 20px; */
}

.hero-buttons .btn {
    margin-right: 1rem;
}

/* Gradasi di akhir section beranda */
.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Tinggi gradasi */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Gradasi putih transparan ke putih solid */
    z-index: 1;
}

/* Features Section */
.features {
    padding: 0 5%;
    background: hsl(0, 0%, 100%) url('../assets/features-spark.png') no-repeat left top;
    background-size: 30%;
    text-align: center;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.stars-decoration {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 20%;
}

.main-container {
    display: flex;
    align-items: start;
    justify-content: start;
}

.mockup-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* Jarak antara mockup dan stars */
}

.mockup-image {
    max-width: 42vw; /* Membatasi lebar relatif pada viewport */
    object-fit: contain;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background: #F5FEFF;
    border-radius: 20px;
    padding: 2rem; /* Lebar disesuaikan agar sampingan */
    min-height: 60vh; /* Tinggi minimum untuk keseimbangan */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* padding: 20px; */
    background-color: #e6f3fa;
    border-radius: 15px;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    gap: 0.75rem;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2rem;
    margin: 0 0 5px;
    color: #333;
}

.card p {
    font-size: 0.9rem;
    margin: 0;
    color: #666;
    line-height: 1.4;
}

/* .card p:first-of-type {
    font-weight: bold;
    color: #00a8cc;
} */

/* PENGGUNAAN */
.penggunaan {
    background: #fff url('../assets/penggunaan-blob.png') no-repeat right top;
    background-size: 40%;
    text-align: center;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-container-penggunaan {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.mockup-container-penggunaan {
    /* flex: 0 0 45%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-image-penggunaan {
    max-height: 62vw;
    max-width: 100%;
    object-fit: contain;
}

.penggunaan-flow{
    padding: 0 0;
    text-align: left;
}

.penggunaan-flow h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    margin-left: 10%;
}

.penggunaan-flow p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #7f8c8d;
    margin-left: 10%;
}

/* Container untuk langkah-langkah */
.steps-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    left: 0%;
}

svg {
    margin-left: 0;   /* Menghapus margin kiri */
    padding-left: 0;  /* Menghapus padding kiri */
}

.svg-desktop {
    display: block;
}

.svg-mobile {
    display: none;
}


/* TESTIMONI */
.hero-testimoni {
    height: 100vh; /* Full screen */
    background: url('../assets/testimoni_bg.png') no-repeat center/cover; /* Background image */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Tetap dipertahankan sesuai desain awal */
    position: relative;
    color: #333;
    overflow: show; /* Mencegah overflow konten di luar hero */
}

.hero-testimoni-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}


.dev-story {
    position: relative;
    max-width: 40%;
    margin-left: 15%;
    margin-bottom: 12%;
}

.dev-story h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.isi-story {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
}

.dev-story-footer {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: white;
}

.mockup-container-testimoni {
    /* flex: 0 0 45%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-image-testimoni {
    position: absolute ;
    max-width: 50%;
    object-fit: contain;
    bottom: 0%;
    right: 0%;
}

/* FAQ */
.faq {
    padding: 5% 5%;
    background-size: 30%;
    text-align: center;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.faq h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.faq p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.faq-main {
     display: flex;
    align-items: center;
    justify-content: start;
}

.faq-image {
    width: 35%;
}

.faq-container {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
 .faq-list {
    width: 100%;
}

.faq-item {
    background-color: white;
    border-radius: 16px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.faq-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.faq-question {
    padding: 10px 20px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3rem;
    background: linear-gradient(90deg, #298FBB 0%, #0EBCB1 100%);
    transition: background-color 0.3s;
    color: white;
}

.question-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.faq-question:hover {
    background-color: #EDF2F7;
}

.faq-answer {
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    color: #252525;
    line-height: 1.7;
    text-align: left;
}

.faq-answer.active {
    padding: 20px 25px;
    max-height: 300px;
}

.dropdown-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.4s;
}

.dropdown-icon.rotated {
    transform: rotate(180deg);
}

.faq-icon {
    width: 60px;
    height: 60px;
    transition: transform 0.4s;
}

/* PROMOTION */
.promotion {
    padding: 5% 5%;
    text-align: center;
}

.promotion-box {
    margin-top: 5%;
    max-height: 500vh;
    position: relative; /* Menjadikan ini sebagai referensi positioning */
    align-content: start;
    align-items: start;
}

.promotion-content {
    max-height: 250vh;
    background: linear-gradient(90deg, #298FBB 0%, #0EBCB1 100%);
    position: relative; /* Opsional, untuk memastikan konten tetap teratur */
    align-items: start;
    align-content: start;
    border-radius: 35px;
    padding-right: 45%;
    padding-left: 8%;
    padding-top: 5%;
}

.head-promotion-content {
    left: 0;
    color: white;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.8rem;
    text-align: start;
    letter-spacing: 2px; /* Menambahkan jarak antar huruf */
}

.motto-promotion-content {
    left: 0;
    color: white;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.7rem;
    text-align: start;
    margin-top: 5%;
    letter-spacing: 1px; /* Menambahkan jarak antar huruf */
    font-style: italic;
}

.mockup-promotion-overlay {
    position: absolute;
    top: -45%; /* Sesuaikan posisi vertikal */
    right: 5%; /* Pusatkan secara horizontal */
    z-index: 1; /* Pastikan img berada di atas konten */
    max-width: 38%; /* Sesuaikan ukuran gambar */
}

.button-promotion {
    display: flex; /* Mengatur tata letak flexbox */
    justify-content: flex-start; /* Menempel ke kiri */
    align-items: flex-start; /* Menempel ke atas */
    gap: 1rem; /* Jarak antar tombol */
    margin-top: 5%;
}

.btn-outline-promotion {
    background: transparent;
    border: none;
    color: #00b3a8;
    background-color: white;
    border-radius: 10px;
}

.btn-outline-promotion:hover {
    background: #00b3a8;
    color: white;
}

.btn-filled-promotion {
    background: #FA8B05;
    border: none;
    color: white;
}

.btn-filled-promotion:hover {
    background: #009688;
}

/* FOOTER */
.footer-container {
    position: relative;
    margin-top: auto;
    background: url('../assets/footer_bg.png') no-repeat center/cover; /* Background image */
    display: flex;
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
    height: auto; /* Menyesuaikan dengan konten */
    min-height: 100%; /* Memastikan minimal mengisi tinggi container */
    flex-shrink: 0; /* Mencegah menyusut */
}

.footer-content {
    color: white;
    text-align: center;
    padding: 40px 20px; /* Memberi ruang di sekitar konten */
    width: 100%; /* Memastikan konten mengisi lebar container */
    max-width: 1200px; /* Batasi lebar maksimum untuk responsivitas */
}

.footer-logo {
    width: 200px;
    margin-bottom: 35px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Memusatkan item secara horizontal */
    gap: 40px;
    margin-bottom: 30px;
}

.info-section {
    min-width: 250px;
    flex: 1 1 250px; /* Memastikan fleksibilitas */
    text-align: start;
}

.info-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-bottom {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .hero-content {
        margin-left: 30%;
        padding-right: 10%;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1.1rem;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
    }
    .mockup-image {
        max-width: 60vw;
    }
    .feature-cards {
        grid-template-columns: 1fr;
    }
    .penggunaan-flow h2, .penggunaan-flow p {
        margin-left: 5%;
    }
    .mockup-image-penggunaan {
        max-height: 80vw;
    }
    .dev-story {
        margin-left: 10%;
    }
    .mockup-image-testimoni {
        max-width: 60%;
    }
    .faq-main {
        flex-direction: column;
    }
    .faq-image {
        width: 50%;
        margin-bottom: 2rem;
    }
    .promotion-content {
        padding-right: 5%;
        padding-left: 5%;
    }
    .mockup-promotion-overlay {
        display: none;
    }
}

@media (max-width: 992px) {
    .nav-links, .nav-buttons {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .menu-auth {
        display: block;
    }
    .navbar {
        justify-content: space-between;
        padding: 1rem 5%;
    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .nav-links.active li {
        text-align: center;
        padding: 1rem 0;
    }
    .hero-content {
        margin-left: 0;
        padding: 0 5%;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
    .features h2 {
        font-size: 2rem;
    }
    .features p {
        font-size: 1rem;
    }
    .penggunaan-flow h2 {
        font-size: 2rem;
    }
    .penggunaan-flow p {
        font-size: 1rem;
    }
    .dev-story h2 {
        font-size: 1.5rem;
    }
    .isi-story {
        font-size: 1.8rem;
    }
    .dev-story footer {
        font-size: 1rem;
    }
    .faq h2 {
        font-size: 2rem;
    }
    .faq p {
        font-size: 1rem;
    }
    .head-promotion-content {
        font-size: 2rem;
    }
    .motto-promotion-content {
        font-size: 1.2rem;
    }
     .footer-content {
        color: white;
        text-align: center;
        padding: 40px 80px; /* Memberi ruang di sekitar konten */
        width: 100%; /* Memastikan konten mengisi lebar container */
    }

    .footer-logo {
        width: 200px;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center; /* Memusatkan item secara horizontal */
    }

    .info-section {
        /* min-width: 20px; */
        flex: 1 1 20px; /* Memastikan fleksibilitas */
        text-align: center;
    }
}

@media (max-width: 768px) {
    .slider {
        display: none;
    }
    .main-container {
        flex-direction: column;
        gap: 1rem;
    }
    .mockup-image {
        height: auto;
        max-width: 80vw;
    }
    .stars-decoration {
        display: none;
    }
    .feature-cards {
        width: 100%;
        min-height: auto;
    }
    .penggunaan-flow {
        text-align: center;
    }
    .penggunaan-flow h2, .penggunaan-flow p {
        margin-left: 0;
    }
    .main-container-penggunaan {
        flex-direction: column;
        align-items: center;
    }
    .svg-desktop {
        display: none;
    }
    .svg-mobile {
        display: block;
        /* Anda bisa menambahkan style untuk svg mobile di sini */
        width: 100%;
        height: auto;
    }
    .mockup-container-penggunaan {
        margin-top: 2rem;
    }
    .hero-testimoni {
        height: auto;
        padding-bottom: 200px;
    }
    .hero-testimoni-content {
        flex-direction: column;
        align-items: center;
    }
    .dev-story {
        max-width: 80%;
        margin: 2rem 0;
        text-align: center;
    }
    .mockup-image-testimoni {
        /* position: relative; */
        max-width: 60%;
        margin-top: 2rem;
    }
    .testimonials {
        position: relative;
        transform: none;
        left: auto;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        gap: 1rem;
        width: 100%;
        padding: 0 5%;
    }
    .testimonial-card {
        transform: scale(1) !important;
        width: 100%;
        flex: 0 0 auto;
        max-width: 400px;
    }
    .faq-image {
        display: none;
    }
    .promotion-content {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .head-promotion-content {
        font-size: 1.8rem;
    }
    .motto-promotion-content {
        font-size: 1rem;
    }
    .button-promotion {
        flex-direction: column;
        align-items: center;
    }
     .footer-content {
        color: white;
        text-align: center;
        padding: 40px 80px; /* Memberi ruang di sekitar konten */
        width: 100%; /* Memastikan konten mengisi lebar container */
    }

    .footer-logo {
        width: 200px;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center; /* Memusatkan item secara horizontal */
    }

    .info-section {
        /* min-width: 20px; */
        flex: 1 1 20px; /* Memastikan fleksibilitas */
        text-align: center;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 1.8rem;
        text-align: left;
    }
    .hero-content p {
        font-size: 0.9rem;
        text-align: left;
    }
    
    .hero-buttons .btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .btn {
        margin-top: 10px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    .feature-cards {
        grid-template-columns: 1fr;
    }
    .features h2 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .features p {
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }

    .card {
        flex-direction: row;
        text-align: center;
        padding-bottom: 0px;
    }
    .card-text {
        align-items: start;
        justify-content: center;
        align-self: center;
        text-align: left;
    }
    /* .card-text h3 {
        font-size: 1.6rem;
    }
    .card-text p {
        font-size: 1.1rem;
    } */
/*      
    .dev-story {
        position: relative;
        max-width: 40%;
        margin-left: 15%;
        margin-bottom: 12%;
    } */

    .isi-story {
        font-size: 1.2rem;
        color: white;
        font-weight: 700;
        margin: 40px;
        margin-bottom: 0.7rem;
    }
    .penggunaan-flow h2 {
        font-size: 1.5rem;
    }
    .penggunaan-flow p {
        font-size: 0.9rem;
    }
    .faq {
        margin-top: -10px;
        padding: 0% 5%;
    }

    .faq-question {
        font-size: 1rem;
    }
    .faq-answer {
        font-size: 0.9rem;
    }
    .head-promotion-content {
        font-size: 1.5rem;
    }
    .motto-promotion-content {
        font-size: 0.9rem;
    }
    .footer-logo {
        width: 120px;
    }
    .info-title {
        font-size: 1rem;
    }
    .footer-bottom p {
        font-size: 0.8rem;
    }
    
   .hero-testimoni {     
        align-items: start;
        justify-content: flex-start;    
    }

    .hero-testimoni-content {
        bottom: 0;
    }

    .mockup-image-testimoni {
        /* position: initial; */
        max-width: 80%;
        margin-top: 2rem;
    }

    .footer-content {
        color: white;
        text-align: center;
        padding: 40px 80px; /* Memberi ruang di sekitar konten */
        width: 100%; /* Memastikan konten mengisi lebar container */
    }

    .footer-logo {
        width: 200px;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center; /* Memusatkan item secara horizontal */
    }

    .info-section {
        /* min-width: 20px; */
        flex: 1 1 20px; /* Memastikan fleksibilitas */
        text-align: center;
    }
}